<header>
      <div class="overlay">
          <h1> Subway Line - Restaurant Search app </h1>
          <p>
              Have you ever wondered if you can search some Restaurant according to the metro line?
              <br> Then this is the dream tool which you can do what you want!!
          </p>
          <br>
          <button>
              <a routerLink="/search">Do you want to explore more...?</a>
          </button>
  
      </div>
  </header>
  <br>
  <br>
  
  <div class="container">
      <div class="row">
          <div [class]="textCol">
              <h3>Step.1 Search restaurant as you like </h3> You may filter the line name and the app will show you the search result.
              <br> Let's say you want to search Restaurant within 南北線, you can select the line from the list, and then you can find all the restaurant!

              <br> I prepared some parameter you can manually add to filter the search result. So play around with it!!
              <br>
  
          </div>
  
          <div class="col">
              <img class="pics" src="./assets/Searchimage.png" alt="image not found">
          </div>
  
          <div class="row">
              <div [class]="textCol">
  
                  <h3> Step.2 Utilize map with your search </h3> Also, I integrated Google map with API.
                  <br> This is going to be really good freind of you. Because you can not only search restaurant with line, but you can also see all restaurant location in Google map!
                  <br>
  
                  <br>
                  <br> You can see beautiful pictures of the restaurant. If you want to visit Guru navi site, you can go there from the link!
                  <br>
                  <br>
                  <br>
                  <br>
  
              </div>
  
              <div class="col">
                  <img class="pics" src="https://developers.google.com/maps/solutions/images/storelocator_clothing.png" alt="image not found">
              </div>
  
              <div class="row">
                  <div [class]="textCol">
                      <h3>  Step.3 Enjoy yummy foods !!!  </h3> Hope you will enjoy this tool!
                      <br> You can search various restaurant using this tool and hope you will find new way to explore good foods!
                      <br>
  
                      <br>
                      <br> If you like this app, please feel free to refer to your friends :)
  
                      <br>
                      <br>
  
                      <a routerLink="/search">
                          <button class="btn">
                              I would love to expore!!
                          </button>
                      </a>
  
                      <br>
                      <br>
                      <br>
  
                  </div>
  
                  <div class="col">
                      <img class="pics" src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="image not found">
                  </div>
  
                  <!-- delete from here -->
  
              </div>
  
              <hr>
              <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
                  <img src="https://api.gnavi.co.jp/api/img/credit/api_265_65.gif" width="265" height="65" border="0" alt="グルメ情報検索サイト　ぐるなび">
              </a>
              <br>
  
              <!-- <img src="assets/test-image.jpg" alt="image not loaded due to some reason"> -->