<header>
    <div class="overlay">
       <h1>Kohki Restaurant Search app </h1>
       <p>   
          Have you ever wondered if you can search some Restaurant according to the metro line?
          <br>
          Then this is the dream tool which you can do what you want!!
       </p>
       <br>
       <button>
            <a routerLink="/search">Do you want to explore more...?</a>
      </button>

    </div>
 </header>
 <br>
 <br>
 <div>
    Use case 1 :
 </div>
 <div>
    Example 1:
    You may filter the line name and the app will show you the search result.
 </div>
 <img class="sample"
    src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Mount_Fuji_Japan_with_Snow%2C_Lakes_and_Surrounding_Mountains.jpg" 
    alt="image not found">
 <img class="sample"
    src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Mount_Fuji_Japan_with_Snow%2C_Lakes_and_Surrounding_Mountains.jpg" 
    alt="image not found">
 <img class="sample"
    src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Mount_Fuji_Japan_with_Snow%2C_Lakes_and_Surrounding_Mountains.jpg" 
    alt="image not found">
 <hr>
 <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
 <img src="https://api.gnavi.co.jp/api/img/credit/api_265_65.gif" width="265" height="65" border="0" alt="グルメ情報検索サイト　ぐるなび">
 </a>
 <br>


 <!-- <img src="assets/test-image.jpg" alt="image not loaded due to some reason"> -->