


<h2 class="head_test">Restraunt Search Tool</h2>


<p class="explanation-text">
  You will be able to search the spefic line and list up the restaurant on the line.
</p>

  <div>

      <form (ngSubmit)="onSubmit(lineForm)" #lineForm="ngForm">
          <div class="form-group">
              <label for="line"> Please enter the line you would like to take? : </label>
              <input type="text" 
              name="line" class="form-control" 
              id="line" #line="ngModel"
              [(ngModel)]="model.line"
              required>
            </div>


            <button type="submit" 
            class="btn btn-success" 
            [disabled]="!lineForm.form.valid">
            Submit

          </button>

      </form>


      <a routerLink="/">Back to the previous page</a>
    
  </div>