


<h1 class="head_test">Restraunt Search Tool</h1>


<p class="explanation-text">
  You will be able to search the spefic line and list up the restaurant on the line.
  <br>
  ** Please note that you can only search Tokyo area!
</p>

  <div class="searchBox">

      <form (ngSubmit)="onSubmit(lineForm)" #lineForm="ngForm">
          <!-- <div class="form-group">
              <label for="line"> - Please enter the line you would like to take? : </label>
              <input type="text" 
              name="line" class="form-control" 
              id="line" #line="ngModel"
              [(ngModel)]="model.line"
              required
              >
           </div> -->

          <div class="form-group">
            <label for="selected"> 
              - Please select the line from here　(such as  南北線、京葉線など, required)
            </label>
            <br>
              <mat-form-field>
                <!-- <mat-label>List of lines</mat-label> -->
                <mat-select name="selected" 
                
                id="selected"
                #selected="ngModel"
                [(ngModel)]="model.selected"
                required
                >
                  <mat-option *ngFor="let selected of selecteds" [value]="selected.value">
                    {{selected.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <br>


          <div class="form-group">
            <label for="freeWord"> - What is your other preference for the search? : (such as イタリアン、インドカレー、バイキングなど) </label>
            <input type="text" 
            name="freeWord" class="form-control" 
            id="freeWord" #line="ngModel"
            [(ngModel)]="model.freeWord"
            
            >
         </div>

          <br>
          <br>

            <button type="submit" 
            class="btn btn-success" 
            [disabled]="!lineForm.valid">
            Search

          </button>

      </form>

      <br>
      <a routerLink="/">Back to the previous page</a>
    
  </div>


<hr>

  <div>
    <h2 >Result Preview</h2>
    <div *ngIf="!isSearched">Result will be shown here :)</div>
    <br *ngIf="!isSearched">

    <!-- <li *ngFor="let name of this.searchedRestaurantName;">
      {{name}}
      {{address}}
    </li>
  </div> -->
  
<div>
    <li *ngFor="let key of Object.keys(sampleObj)">
        Restaurant Name : {{sampleObj[key].name}}
        <br>
        Restaurant Address : {{sampleObj[key].address}}

        <br>
        <a href="{{sampleObj[key].url}}"> {{sampleObj[key].url}} </a>
        <!-- Restaurant URL : {{sampleObj[key].url}} -->

        <br>
        Nearest Station : {{sampleObj[key].station}}

        <br>
        <br>




</div>

<div class="errorMessage">
  {{this.errorMessage}}
</div>



<hr>

<!-- <div class="maps"> 
  
    <h2 >Google Map View</h2>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.restaurantName"
        >
        <agm-info-window>
            <strong>{{m.restaurantName}}</strong>
            <br>
            <strong>{{m.physicalAddress}}</strong>
          </agm-info-window>
      </agm-marker>
      </agm-map>

</div> -->

<div class="maps"> 
  
    <h2 >Google Map View</h2>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of sampleObj; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.name"
        >
        <agm-info-window>
            <b>{{m.name}}</b>
            <br>
            <strong>{{m.address}}</strong>
            <br>
            <a href="{{m.url}}">{{m.url}}</a>
            <br>
            <br>
            <img width="150px" height="100px" src="{{m.image}}" alt="not available">
          </agm-info-window>
      </agm-marker>
      </agm-map>

</div>