
#line {
    width: 50%;
    
}

p.explanation-text {
    font-size: 20px;
}


.head_test {
    margin:  0;                 /* デフォルトCSS打ち消し */
    font-size: 35px;       /* 文字サイズ指定 */
    border-bottom: solid 3px;   /* 線指定 */
    padding-bottom:  5px;       /* 余白指定 */
    margin-bottom: 15px;        /* 周りの余白指定 */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;       /* 文字の太さ調整 */
}


.listLink {
    cursor: pointer;
    cursor: hand;
}
