

/* h1::after {
    position: absolute;
    top: 50%;
    left:0.7em;
    transform:translateY(-50%);
    content: '';
    width: 8px;
    height:8px;
    border: solid 3px white;
    border-radius:100%;
} */


.form-control {
    width: 50%;
    
}

p.explanation-text {
    font-size: 20px;
}


.head_test {
    position: relative;
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #446689;
    border-radius: 5px;
    font-size: 45px;

    margin:  0;                 /* デフォルトCSS打ち消し */
    border-bottom: solid 3px;   /* 線指定 */
    padding-bottom:  5px;       /* 余白指定 */
    margin-bottom: 15px;        /* 周りの余白指定 */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;       /* 文字の太さ調整 */
}


.listLink {
    cursor: pointer;
    cursor: hand;
}


/*  Search Box Styling */
.searchBox{
    width: 85%;
    margin: 1em 0;
    padding: 15px;
    background-color: #E3DFDE;
    box-shadow: 0 3px 4px #8d95a1;
  }
  



/* Google Map Styling */
agm-map {
    height: 500px;
    width: 90%;
  }
  
  div.maps {
    margin-bottom: 50px;
}
